$fonte-global:  Arial, sans-serif;
$cor-fundo-site: linear-gradient(90deg,hsl(264, 69%, 69%) 0%, hsl(323, 60%, 65%) 50%, hsl(25, 100%, 75%) 100%);
$cor-fundo-content: rgb(247, 246, 244);
$cor-fundo-nav: hsl(264, 69%, 43%);
$cor-fonte-nav: hsl(25, 100%, 49%);