/* --------------- Corpo --------------- */

.body{
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.25fr 2.75fr 0.5fr;

    /*Eixo horizontal*/

    justify-items: center;

    /*Eixo vertical*/

    align-items: start;
    text-align: center;
    min-height: 100vh;    
    background: linear-gradient(90deg,hsl(264, 69%, 69%) 0%, hsl(323, 60%, 65%) 50%, hsl(25, 100%, 75%) 100%);
}

/* --------------- Cabeçalho --------------- */

.header{    
    grid-column: 1 / 4;
    grid-row: 1 / 2;    
    width: 50%;    
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__item--img{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    opacity: 0.85;
}

/* --------------- Navegação --------------- */

.nav{
    grid-column: 1 / 4;
    grid-row: 2 / 3;   
    width: 35%;
    border-radius: 5px;
}

.nav__list{
    display: flex;
    padding: 0.25rem;
    justify-content: space-around;
    gap: 10px;
}

.nav__item{
    background-color: hsl(264, 69%, 43%);  
    color: hsl(25, 100%, 49%);    
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    list-style-type: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.nav__item:hover{
    background-color: hsl(264, 69%, 48%);
    color: hsl(25, 100%, 51%);
}

.nav__item:active{
    background-color: hsl(264, 69%, 53%);
    color: hsl(25, 100%, 56%);
}

/* --------------- Conteúdo --------------- */

.content{
    grid-column: 1 / 4;
    grid-row: 3 / 4; 
    width: 70%;
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgb(247, 246, 244);
    border-radius: 0.5rem;
    opacity: 0.85;
}

.content__form--label{
    font-size: 15px;
    margin-bottom: 0px;
    
}

.content__form--input{
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    border: solid 1.5px;
    
}

.content__form--textarea{
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    border: solid 1.5px;
}

.content__form--btn{
    border-radius: 5px;
    border: solid 1.5px;
    
}

/* --------------- Rodapé --------------- */

.footer{
    grid-column: 1 / 4;
    grid-row: 4 / 5; 
    width: 70%;
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgb(247, 246, 244);
    border-radius: 0.5rem;
    opacity: 0.85;
}

/*---max-width: 300px----------------------------------------------*/

@media (max-width: 300px){

/* --------------- Cabeçalho --------------- */

    .header{
        grid-column: 1 / 4;
        grid-row: 1 / 2;    
        width: 70%;
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 5px;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__item--img{
        width: 75%;
        height: 75%;
        border-radius: 10px;
        opacity: 0.85;
    }

    /* --------------- Navegação --------------- */

    .nav{
        width: 95%;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
        padding: 0.25rem;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .nav__item{
        background-color: hsl(264, 69%, 43%);    
        color: hsl(25, 100%, 49%);        
        font-size: 11px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
        list-style-type: none;
        width: 65%;
        text-align: center;
        cursor: pointer;
    }
}

/*---300px a 600px----------------------------------------------*/

@media (min-width: 301px) and (max-width: 600px){

   /* --------------- Cabeçalho --------------- */

    .header{
	    grid-column: 1 / 4;
        grid-row: 1 / 2;    
        width: 60%;
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 5px;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__item--img{
        width: 75%;
        height: 75%;
        border-radius: 10px;
        opacity: 0.85;
    }

    /* --------------- Navegação --------------- */

    .nav{
        width: 95%;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
        padding: 0.25rem;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .nav__item{
        background-color: hsl(264, 69%, 43%);    
        color: hsl(25, 100%, 49%);        
        font-size: 11px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
        list-style-type: none;
        width: 65%;
        text-align: center;
        cursor: pointer;
    }

}

/*---600px a 900px----------------------------------------------*/

@media (min-width: 601px) and (max-width: 900px) {

/* --------------- Cabeçalho --------------- */

    .header{
        grid-column: 1 / 4;
        grid-row: 1 / 2;    
        width: 50%;
        
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 5px;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__item--img{
        width: 75%;
        height: 75%;
        border-radius: 10px;
        opacity: 0.85;
    }

    /* --------------- Navegação --------------- */

    .nav{
        width: 75%;
    }

    .nav__list{
        display: flex;
        padding: 0.25rem;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .nav__item{
        background-color: hsl(264, 69%, 43%);    
        color: hsl(25, 100%, 49%);        
        font-size: 11px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
        list-style-type: none;
        width: 60%;
        text-align: center;
        cursor: pointer;
    }

}

/*---min 900px----------------------------------------------*/

@media (min-width: 901px) {

    /* --------------- Cabeçalho --------------- */

    .header{
        grid-column: 1 / 4;
        grid-row: 1 / 2;    
        width: 40%;
        
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 5px;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__item--img{
        width: 75%;
        height: 75%;
        border-radius: 10px;
        opacity: 0.75;
    }

    /* --------------- Navegação --------------- */

    .nav{
        grid-column: 1 / 4;
        grid-row: 2 / 3;   
        width: 65%;
        border-radius: 5px;
    }

    .nav__list{
        display: flex;
        padding: 0.25rem;
        justify-content: space-around;
        gap: 10px;
    }

    .nav__item{
        background-color: hsl(264, 69%, 43%);
    
        color: hsl(25, 100%, 49%);
        
        font-size: 11px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
        list-style-type: none;
        width: 90%;
        text-align: center;
        cursor: pointer;
    }

}

